* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  /* A smooth scroll behavior slides the page down to the next section on nav link click */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lato";
}

.header-contact-info {
  /* Spaces the contact icons and text out along the top of the page */
  display: flex;
  justify-content: space-between;
  /* Adds space above the contact icons and text so they don't hit the top of the page */
  padding-top: 20px;
  color: #eee8e8;
  font-family: "Poppins";
  margin-left: 107px;
  margin-right: 107px
}

/* When the screen is smaller, the top contact info moves horizontal to vertical */

@media screen and (max-width: 1109px) {
  .header-contact-info {
    /* Spaces the contact icons and text in rows */
    display: grid;
    float: left;
    text-align: left;
    margin-left: 5px;
    font-size: 15px;
  }
  .h2 {
    font-size: .2rem;
  }
}

a {
  /*makes the cursor a hand when hovering over a link*/
  cursor: pointer;
  color: white;
}

h2 {
  font-family: "Roboto";
  color: #2d829d;
}

.nav-container {
  position: fixed;
  height: 100%;
}

/* Remove the bullet points from lists */
.nav-list {
  padding: 0;
  list-style-type: none;
}

.no-bullets {
  list-style-type: none;
}

.heading-font {
  /* ADD CSS HERE */
  color: white;
  font-family: "Poppins";
  font-size: 4em;
  margin-bottom: 30px;
  line-height: normal;
}

.material-icons {
  /* This allows the icons to line up with the text */
  vertical-align: middle;
  margin-left: 6px;
  margin-right: 6px;
}

/* Decrease font size when screen in 685px or smaller */

@media screen and (max-width: 685px) {
  .heading-font {
    font-size: 3em;
  }
  .page-section {
    /* The sections can take up more height when the screen size is reduced since the width is narrower, so the height is needed */
    height: 800px;
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* Set the width of the sidebar */
  width: 160px;
  /* Fixed Sidebar (stay in place on scroll) */
  position: fixed;
  background-color: rgb(100 173 196);
  overflow-x: hidden;
  padding-top: 106px;
}

/* The navigation menu links */

.sidenav a {
  font-size: 18px;
  color: #f0efef;
  font-family: "Poppins";
}

/* When you mouse over the navigation links, change their color */
.nav-item a:hover {
  color: #96fdff;
}

/* The container for the Linked-In and Github links */
.social-links {
  font-size: 4em;
  display: flex;
  /* Puts the icons in the center of the page */
  justify-content: center;
}

/* The icons themseleves for LinkedIn and Github*/
.social-link-icons {
  margin-left: .2em;
  margin-right: .2em;
  color: rgb(171 254 255);
}

.page-container {
  margin-left: 160px;
  height: 100%;
}

.page-section {
  padding: 20px;
  background-color: #f1f1f1;
  /* Curves the corners of the container */
  border-radius: .25rem;
  /* Adds a shadow around the container */
  box-shadow: 0 10px 20px rgba(71, 69, 69, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid rgb(175, 170, 170);
  /* Creates a scrollbar on the container when the window size is reduced */
  height: 500px;
  overflow-y: auto;
}

@media screen and (min-width: 686px) {
  .page-section {
    /* The section height should be smaller when there is more width on the screen */
    min-height: 500px;
  }
}

.home-section {
  padding-top: 100px;
  /* Center the home page font */
  text-align: center;
}

.container {
  padding-top: 100px;
}

.main-section {
  width: 100%;
  height: 100%;
}

/* The background color of the webpage sections */
/* nth of type (even) or (odd) means every other element is applied this style, so we can alternate background colors */
.section-background:nth-of-type(even) {
  background-image: linear-gradient(rgb(122 186 198), #3794b3);
}

.section-background:nth-of-type(odd) {
  background-image: linear-gradient(#3395b6, #3790b3, rgb(122 186 198));
}

/* Sets the gradient background color for the home page */
.home-background {
  background-image: linear-gradient(to right top, #0d6ea0, #0091b5, #00b2b4, #2bd09f, #9ae882);
}